<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>[[${session.loginUser}]]用户请输入————正确信息</small></h1>
                <form class="form-signin" th:action="@{/To}">

                    <input type="text" placeholder="666666" >
                    <input type="password" placeholder="密码">

                    <input type="submit" >

                </form>

            </div></div>
    </div>
</div>
</body>
</html>